<div class="panel-form panel-form-horizontal">
    {{ form_start(form, {
        'attr':{
            'id': entity.name,
            'class':'form-horizontal',
            'novalidate': 'novalidate',
        }
    }) }}
    <div class="row">
        <div class="col-md-3">
            <h3 class="col-sm-offset-3">{{ entity.title }}</h3>
        </div>
        <div class="col-md-3">
            {#{{ form_label(form.name) }}#}
            {{ form_widget(form.name, {'attr': {'class': 'form-control input-lg'}}) }}
            {{ form_errors(form.name) }}

        </div>
        <div class="col-md-3">
            {#{{ form_label(form.phone) }}#}
            {{ form_widget(form.phone, {'attr': {'class': 'form-control input-lg'}}) }}
            {{ form_errors(form.phone) }}
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-lg btn-danger">{{ entity.button }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
